<div class="container">
  <div class="button">
    <button mat-raised-button color="primary" (click)="loginClicked()">Login</button>
  </div>
  <div class="token-container">
    <mat-card class="token-value" [ngClass]="{'token-value--valid': idToken?.isValid}">
      <mat-card-subtitle>Id Token</mat-card-subtitle>
      <mat-card-content class="token-value__content">
        {{idToken?.value}}
      </mat-card-content>
    </mat-card>
    <mat-card class="token-payload">
      <mat-card-subtitle>Id Token Payload</mat-card-subtitle>
      <mat-card-content class="token-payload__content">
        {{idToken?.payload}}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="token-container">
    <mat-card class="token-value" [ngClass]="{'token-value--valid': authorizationToken?.isValid}">
      <mat-card-subtitle>Access Token</mat-card-subtitle>
      <mat-card-content class="token-value__content">
        {{authorizationToken?.value}}
      </mat-card-content>
    </mat-card>
    <mat-card class="token-payload">
      <mat-card-subtitle>Access Token Payload</mat-card-subtitle>
      <mat-card-content class="token-payload__content">
        {{authorizationToken?.payload}}
      </mat-card-content>
    </mat-card>
  </div>
</div>

